@font-face {
  font-family: 'sports-world';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/sports-world.woff');
}
@font-face {
  font-family: 'ds-digital-bold';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/ds-digital-bold.woff');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
}
#root {
  width: 100%;
  min-height: 100vh;
  background-color: #333;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  min-height: 10vh;
  border: 1px solid black;
}
.menu__btn {
  background: none;
  border: none;
  font-family: 'sports-world', monospace;
  font-size: 2rem;
  font-weight: 700;
  color: #ffebcd;
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.menu__btn:hover {
  background-color: #444;
}
.menu-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffebcd;
  font-size: 1.4rem;
}
.menu-top .table{
  display: flex;
}
.menu-top .list {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.menu-top .list:last-child{
  border-right: none;
}
.menu-top .list ul {
  list-style: none;
  border-top: 1px solid black;
}
.menu-top .list ul li {
  display: flex;
  justify-content: space-around;
}

.game-area {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
}
.game-area__header {
  display: flex;
  justify-content: space-around;
}
.game-area__header-button {
  width: 40px;
  height: 40px;
  background-size: cover;
}
.menu-icon {
  background-color: #828282;
  position: relative;
}
.menu-icon::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 6px;
  background-color: #000;
  top: 8px;
  left: 2px;
  border-radius: 9999px;
}
.menu-icon::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 6px;
  background-color: #000;
  top: 20px;
  left: 2px;
  border-radius: 9999px;
}
.menu-icon:hover.menu-icon::before {

  transition: all .1s linear;
  transform: rotate(-30deg);
}
.menu-icon:hover.menu-icon::after {
  transition: all .1s linear;
  transform: rotate(30deg);
}


.mines-left-icon,
.timer-icon {
  width: 60px;
  line-height: 40px;
  background-color: #828282;
  font-family: 'ds-digital-bold', monospace;
  font-size: 36px;
  font-weight: 700;
  color: hsl(0, 100%, 30%);
}

.smile-good { background-image: url('../img/smile-good.png') }
.smile-bad { background-image: url('../img/smile-bad.png'); }

.pause-icon { background-image: url('../img/pause.png') }
.start-icon { background-image: url('../img/play.png') }

.line-element {
  display: flex;
}
.cell-element {
  width: 30px;
  height: 30px;
  font-family: 'sports-world', monospace;
  font-size: 1.4rem;
  text-align: center;
  line-height: 30px;
  background-color: #333;
  background-image: url(../img/closed-cell.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.cell-mine { background-image: url(../img/mine-cell.png) }
.cell-boom { background-image: url(../img/boom-cell.png) }
.cell-empty { background-image: url(../img/empty-cell.png) }
.cell-num { background-image: url(../img/empty-cell.png) }
.cell-flag { background-image: url(../img/flag-cell.png) }

.win-animation-canvas {
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px) saturate(100%) contrast(45%) brightness(50%);
}
.add-score-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 200px;
  padding: 30px;
  background-color: #333;
  z-index: 10;
}
.add-score-form * {
  font-family: 'sports-world', monospace;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: #ffebcd;
  background-color: #333;
}

.invisible {
  opacity: 0;
}
.hide {
  display: none;
}